@import '../colors.scss';

.card {
  position: relative;
  background: $color-white;
  padding: 2px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
  }

  &__runtime {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: $color-gray--dark;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 160px;
    background: $color-gray--dark;
  }

  &__metrics {
    display: flex;
    justify-content: space-between;
  }  

  &__metricscontainer{
    display: flex;
    flex-direction: column;
  }

  &__awards {
    display: flex;

    img {
      margin-right: 8px;
    }
  }
}